<template>
  <v-header class="forms__header"/>
  <v-form :title="'Авторизация'" :checkboxText="'Запомнить'" :btnText="'Войти'"/>
  <v-footer/>
</template>

<script>
import vHeader from '@/components/v-header.vue'
import vForm from '@/components/v-form.vue'
import vFooter from '@/components/v-footer.vue'

export default {
  name: "Authorization",
  components: {
    vHeader,
    vForm,
    vFooter
  }
}
</script>

<style scoped>

</style>