<template>
  <v-header class="bucket__header"/>
  <section class="bucket">
    <span class="bucket__title">{{ 'Корзина (' + bucket.length + ')' }}</span>
    <div class="bucket__wrapper">
      <div class="bucket__items">
        <div class="bucket__item" v-for="item in bucket" :key="item.title">
          <input type="checkbox" required class="bucket__item__check" :id="'bucket__item_check' + item.title"
                 :name="item.title" value="yes">
          <label :for="'bucket__item_check' + item.title" class="bucket__item__check_title"><img
              :src="require('../assets/content/products/' + item.src)" :alt="item.title" class="bucket_img"></label>
          <div class="bucket__item_middle">
            <span class="bucket__item_title">{{ item.title }}</span>
            <span class="bucket__item_middle_num">Кол-во</span>
            <v-switch/>
          </div>
          <div class="bucket__item_price_wrapper">
            <span class="bucket__item_price_title">Цена</span>
            <span class="bucket__item_price">{{ item.price + ' р' }}</span>
          </div>
        </div>
      </div>
      <form class="bucket__form">
        <span class="bucket__form_price">{{ 'Общая стоимость ' + allPrice + ' p' }}</span>
        <div class="bucket__form__discount">
          <span class="bucket__form__discount-text bucket__form__discount_title">Персональная скидка</span>
          <span class="bucket__form__discount-text bucket__form__discount_main">{{ discount }}</span>
        </div>
        <label class="bucket__form__coupon_label" for='bucket__form__coupon'>
          Введите купон
          <input type="text" id="bucket__form__coupon">
        </label>
        <div class="bucket__form__total">
          <span class="bucket__form__total_text bucket__form__total_title">ИТОГО К ОПЛАТЕ</span>
          <span class="bucket__form__total_text bucket__form__total_price">{{allPrice + ' р'}}</span>
        </div>
        <button type="submit" class="bucket__form_btn">Оплатить</button>
      </form>
    </div>
  </section>
  <v-footer/>
  <v-footer/>
</template>

<script>
import vHeader from '@/components/v-header.vue'
import vFooter from '@/components/v-footer.vue'
import vSwitch from '@/components/v-switch.vue'

export default {
  components: {
    vHeader,
    vFooter,
    vSwitch
  },
  data() {
    return {
      bucket: [
        {
          title: 'Kirby',
          src: 'first.png',
          price: 30000,
          description: 'Disco Dancer - Интерактивная игрушка для детей с сенсорным и голосовым управлением'

        },
        {
          title: 'Huggi Waggi',
          src: 'second.png',
          price: 99999,
          description: 'Disco Dancer - Интерактивная игрушка для детей с сенсорным и голосовым управлением'

        },
        {
          title: 'Besty',
          src: 'third.png',
          price: 9999,
          description: 'Disco Dancer - Интерактивная игрушка для детей с сенсорным и голосовым управлением'

        },
      ],
      discount: 1
    }
  },
  computed: {
    allPrice() {
      let price = 0
      this.bucket.map((product) => price += product.price)
      return price
    }
  }

}
</script>

<style>

</style>