<template>
  <v-header class="catalog__mainHeader"/>
  <section class="catalog">
    <div class="catalog__header">
      <span class="catalog__header_title">Главная / Компаньены</span>
    </div>
    <div class="wrapper">
    <aside class="catalog__menu">
      <span class="catalog__menu_header">Компаньоны</span>
      <div class="catalog__menu__item catalog__filter__wrapper catalog__brand__wrapper">
        <span class="catalog__menu__item_header">Бренд</span>
        <ul class="catalog__list catalog__brand">
          <li v-for="brand in brands" :key="brand">
            <input type="checkbox" class="catalog__list__item" :id="'catalog__list ' + brand" name="happy" value="yes">
            <label :for="'catalog__list ' + brand">{{brand}}</label>
          </li>
        </ul>
        <a href="#" class="catalog__menu__item_footer">больше...</a>
      </div>
      <div class="catalog__menu__item catalog__filter__wrapper catalog__age__wrapper">
        <span class="catalog__menu__item_header">Возраст</span>
        <ul class="catalog__list catalog__age">
          <li v-for="age in ages" :key="age">{{ age }}</li>
        </ul>
      </div>
      <div class="catalog__menu__item catalog__filter__wrapper catalog__price__wrapper">
        <span class="catalog__menu__item_header">Цена</span>
        <ul class="catalog__list catalog__price">
          <li v-for="price in prices" :key="price">{{ price }}</li>
        </ul>
        <a href="#" class="catalog__menu__item_footer">уточнить цену ...</a>
      </div>
    </aside>
    <div class="catalog__products">
      <v-product v-for="product in products" :key="product.title" :productData="product"/>
    </div>
    </div>
    <div class="catalog__pagination">
      <button class="catalog__pagination_btn catalog__pagination_prev" @click="page--"><img :src="require('../assets/content/icons/next.svg')" alt="catalog__pagintation_prev"></button>
      <span class="catalog__pagination_page">{{page}}</span>
      <button class="catalog__pagination_btn catalog__pagination_next" @click="page++"><img :src="require('../assets/content/icons/prev.svg')" alt="catalog__pagintation_next"></button>
    </div>
  </section>
  <v-footer/>
</template>

<script>
import vHeader from '@/components/v-header.vue'
import vFooter from '@/components/v-footer.vue'
import vProduct from '@/components/v-product.vue'

export default {
  name: 'Catalog',
  data() {
    return {
      products: [
        {
          title: 'Kirby',
          src: 'first.png',
          price: 30000,
          description: 'Disco Dancer - Интерактивная игрушка для детей с сенсорным и голосовым управлением'

        },
        {
          title: 'Huggi Waggi',
          src: 'second.png',
          price: 99999,
          description: 'Disco Dancer - Интерактивная игрушка для детей с сенсорным и голосовым управлением'

        },
        {
          title: 'Besty',
          src: 'third.png',
          price: 9999,
          description: 'Disco Dancer - Интерактивная игрушка для детей с сенсорным и голосовым управлением'

        },
        {
          title: 'Hotdog',
          src: 'fourth.png',
          price: 56981,
          description: 'Disco Dancer - Интерактивная игрушка для детей с сенсорным и голосовым управлением'

        },
        {
          title: 'Optimus',
          src: 'fifth.png',
          price: 26587,
          description: 'Disco Dancer - Интерактивная игрушка для детей с сенсорным и голосовым управлением'

        },
        {
          title: 'Bone',
          src: 'sixth.png',
          price: 25966,
          description: 'Disco Dancer - Интерактивная игрушка для детей с сенсорным и голосовым управлением'

        },
        {
          title: 'Disco Dancer',
          src: 'seventh.png',
          price: 69562,
          description: 'Disco Dancer - Интерактивная игрушка для детей с сенсорным и голосовым управлением'

        },
        {
          title: 'CostWay',
          src: 'eighth.png',
          price: 80000,
          description: 'Disco Dancer - Интерактивная игрушка для детей с сенсорным и голосовым управлением'

        },
        {
          title: 'Lightning',
          src: 'nineth.png',
          price: 5000,
          description: 'Disco Dancer - Интерактивная игрушка для детей с сенсорным и голосовым управлением'

        },
        {
          title: 'Conor McGregor',
          src: 'tenth.png',
          price: 35961,
          description: 'Disco Dancer - Интерактивная игрушка для детей с сенсорным и голосовым управлением'

        },
        {
          title: 'Stardust Dragon',
          src: 'eleventh.png',
          price: 99000,
          description: 'Disco Dancer - Интерактивная игрушка для детей с сенсорным и голосовым управлением'

        },
        {
          title: 'Pufik',
          src: 'twelfth.png',
          price: 58486,
          description: 'Disco Dancer - Интерактивная игрушка для детей с сенсорным и голосовым управлением'

        },
        {
          title: 'Motomoto',
          src: 'thirteenth.png',
          price: 69000,
          description: 'Disco Dancer - Интерактивная игрушка для детей с сенсорным и голосовым управлением'

        },
        {
          title: 'Spike',
          src: 'fourteenth.png',
          price: 30000,
          description: 'Disco Dancer - Интерактивная игрушка для детей с сенсорным и голосовым управлением'

        },
        {
          title: 'Walle',
          src: 'fifteenth.png',
          price: 30000,
          description: 'Disco Dancer - Интерактивная игрушка для детей с сенсорным и голосовым управлением'

        },
      ],
      brands: ['Cool Story', 'Lazy Person', 'Upper', 'DeadInsaide', 'FnF', 'Detroit'],
      ages: ['15 - 18 лет', '19 - 20 лет', '21 - 22  лет', '23 - 25 лет'],
      prices: ['менее 30000 р', '30001 р - 50000 р', '50001 р - 65000 р', '65001 р - 80000 р', '80001 р - 90000 р ', '90001 р - 99999 р'],
      page: 1
    }
  },
  components: {
    vHeader,
    vFooter,
    vProduct,
  }
}
</script>

<style>
</style>
