<template>
  <v-first-screen :products="products"/>
  <v-category :categories="categories"/>
  <v-newProduct/>
  <v-reviews :reviews="reviews"/>
  <v-sales/>
  <v-footer/>
</template>

<script>
import vFirstScreen from '@/components/v-firstScreen.vue'
import vFooter from '@/components/v-footer.vue'
import vCategory from '@/components/v-category.vue'
import vNewProduct from '@/components/v-newProduct.vue'
import vReviews from '@/components/v-reviews.vue'
import vSales from '@/components/v-sales.vue'
export default {
  name: 'STS',
  data() {
    return {
      products: [
        {
          title: 'Kirby',
          src: 'first.png',
          price: 30000,
          description: 'Disco Dancer - Интерактивная игрушка для детей с сенсорным и голосовым управлением'

        },
        {
          title: 'Huggi Waggi',
          src: 'second.png',
          price: 99999,
          description: 'Disco Dancer - Интерактивная игрушка для детей с сенсорным и голосовым управлением'

        },
        {
          title: 'Besty',
          src: 'third.png',
          price: 9999,
          description: 'Disco Dancer - Интерактивная игрушка для детей с сенсорным и голосовым управлением'

        },
        {
          title: 'Hotdog',
          src: 'fourth.png',
          price: 56981,
          description: 'Disco Dancer - Интерактивная игрушка для детей с сенсорным и голосовым управлением'

        },
        {
          title: 'Optimus',
          src: 'fifth.png',
          price: 26587,
          description: 'Disco Dancer - Интерактивная игрушка для детей с сенсорным и голосовым управлением'

        },
        {
          title: 'Bone',
          src: 'sixth.png',
          price: 25966,
          description: 'Disco Dancer - Интерактивная игрушка для детей с сенсорным и голосовым управлением'

        },
        {
          title: 'Disco Dancer',
          src: 'seventh.png',
          price: 69562,
          description: 'Disco Dancer - Интерактивная игрушка для детей с сенсорным и голосовым управлением'

        },
        {
          title: 'CostWay',
          src: 'eighth.png',
          price: 80000,
          description: 'Disco Dancer - Интерактивная игрушка для детей с сенсорным и голосовым управлением'

        },
        {
          title: 'Lightning',
          src: 'nineth.png',
          price: 5000,
          description: 'Disco Dancer - Интерактивная игрушка для детей с сенсорным и голосовым управлением'

        },
        {
          title: 'Conor McGregor',
          src: 'tenth.png',
          price: 35961,
          description: 'Disco Dancer - Интерактивная игрушка для детей с сенсорным и голосовым управлением'

        },
        {
          title: 'Stardust Dragon',
          src: 'eleventh.png',
          price: 99000,
          description: 'Disco Dancer - Интерактивная игрушка для детей с сенсорным и голосовым управлением'

        },
        {
          title: 'Pufik',
          src: 'twelfth.png',
          price: 58486,
          description: 'Disco Dancer - Интерактивная игрушка для детей с сенсорным и голосовым управлением'

        },
        {
          title: 'Motomoto',
          src: 'thirteenth.png',
          price: 69000,
          description: 'Disco Dancer - Интерактивная игрушка для детей с сенсорным и голосовым управлением'

        },
        {
          title: 'Spike',
          src: 'fourteenth.png',
          price: 30000,
          description: 'Disco Dancer - Интерактивная игрушка для детей с сенсорным и голосовым управлением'

        },
        {
          title: 'Walle',
          src: 'fifteenth.png',
          price: 30000,
          description: 'Disco Dancer - Интерактивная игрушка для детей с сенсорным и голосовым управлением'

        },
      ],
      categories: [
        {
          title: 'Компаньоны',
          src: 'first.png'
        },
        {
          title: 'Консультанты',
          src: 'second.png'
        },
        {
          title: 'Помощники',
          src: 'third.png'
        },
        {
          title: 'Трансформеры',
          src: 'fourth.png'
        },
        {
          title: 'Програмируемые',
          src: 'fifth.png'
        },

      ],
      reviews: [
        {
          name: 'Тилтик Азильдия -',
          text: 'Сыну игрушка очень понравилась. Функций у него действительно много.  Для своей цены робот оказался очень хорошим и как показало время прочным.'
        },
        {
          name: 'Армась Кимуж - ',
          text: 'Очень увлекательный робот. Ребенок теперь не расстается с ним. Когда ему исполнилось 7 он решил разобрать и посмотреть что там внутри. Вообщем советую!!!'
        },
        {
          name: 'Вуа Растдиен - ',
          text: 'Эту игрушку наш сын получил в подарок и теперь мы в шутку зовём его новым членом семьи. Он качественно собран, хороший пластик.'
        },
        {
          name: 'Орумб Порвиа - ',
          text: 'В общем и целом это не самая затейливая игрушка, которая у нас была. Он ведь не стреляет... Зато очень прочный, прошел месяц, и он ЖИВ!'
        }
      ]
    }
  },
  components: {
    vFirstScreen,
    vFooter,
    vCategory,
    vNewProduct,
    vReviews,
    vSales
  }
}
</script>

<style>
</style>
