<template>
  <v-header class="product_mainHeader"/>
  <section class="singleProduct">
    <div class="singleProduct__header">
      <router-link to="/" class="singleProduct__header_text singleProduct__header_main">Главная /</router-link>
      <router-link to="/catalog" class="singleProduct__header_text singleProduct__header_catalog">Компаньены /
      </router-link>
      <span class="singleProduct__header_text singleProduct__header_title">{{ product.title }}</span>
    </div>
    <div class="singleProduct__body">
      <img :src="require('../assets/content/products/' + product.src)" :alt="product.title" class="singleProduct_img">
      <div class="singleProduct__info">
              <span class="singleProduct_description">{{product.description}}</span>
              <span class="singleProduct_price">{{product.price + ' р'}}</span>
        <div class="singleProduct__info__colors">
          <div class="singleProduct__info__color_title">
            <span class="singleProduct__info__color_title-main">Цвет: </span>
            <span class="singleProduct__info__color_title-sub">{{'Белый'}}</span>
          </div>
          <div class="singleProduct__info__colors_wrapper">
            <button type="button" v-for="btn in buttons" :key="btn" :class="btn"/>
          </div>
        </div>
        <div class="singleProduct__footer">
          <button type="button" class="singleProduct__footer_btn">Добавить в корзину</button>
          <button type="button" class="singleProduct__footer_like"/>
        </div>
      </div>
      <div class="singleProduct__description">
        <span class="singleProduct__description_title">Описание товара</span>
        <ul class="singleProduct__description__list">
          <li v-for="item in product.descriptionList" :key="item" class="singleProduct__description__list_item">{{item}}</li>
        </ul>
      </div>
    </div>
  </section>
  <v-footer/>
</template>

<script>
import vHeader from '@/components/v-header.vue'
import vFooter from '@/components/v-footer.vue'

export default {
  components: {
    vHeader,
    vFooter
  },
  data() {
    return {
      product: {
        title: 'Conor McGregor',
        src: 'tenth.png',
        price: 35961,
        description: 'Disco Dancer - Интерактивная игрушка для детей с сенсорным и голосовым управлением',
        descriptionList: [
            'ЛУЧШИЙ ДРУГ: Этот игрушечный щенок, станет лучшим другом для детей и взрослых.',
            'ЭМОЦИИ И ЗАБОТА: Робот-щенок ROCK показывает различные эмоции глазами, поэтому вы будете знать, счастлив ли он, грустен или зол. Он будет реагировать даже на ваши ласки: прикоснитесь к нему или поднесите ему косточку, чтобы поиграть с ним.',
            'ИДЕАЛЬНО ДЛЯ МАЛЕНЬКИХ ДЕТЕЙ: рекомендуемый возраст - от 3 лет. '
        ]

      },
      buttons: [
          'singleProduct__info__color singleProduct__info__color-white',
          'singleProduct__info__color singleProduct__info__color-purple',
          'singleProduct__info__color singleProduct__info__color-blue',
          'singleProduct__info__color singleProduct__info__color-telo',
      ]
    }
  }

}
</script>

<style>
</style>