<template>
<div class="categories">
    <span class="categories-title">
        Категории
    </span>
    <div class="categories__wrapper">
    <div v-for="category in categories" :key="category.title" class="category">
        <img :src="require('../assets/content/categories/' + category.src)" alt="">
    </div>
    </div>
</div>
</template>

<script>
export default {
props: {
    categories: Array
}
}
</script>

<style>

</style>