<template>
  <section class="first-screen">
    <v-header/>
    <div class="container">
      <div class="first-screen__body row justify-between">
        <div class="first-screen__actions">
          <div class="first-screen-text">
            <span class="first-screen-text__item first-screen-text__main">
              ROBOFRIEND -
            </span>
            <span class="first-screen-text__item first-screen-text__sub">
              для взрослых и детей, окунитесь в мир современных технологий
              вместе с нами. Учеба, работа, присмотр за детьми - все это мы.
            </span>
          </div>
          <div class="actions__buttons row">
            <router-link to="/auth"><button class="actions__buttons__auth">Войти в аккаунт</button></router-link>
            <div class="actions__socNets row">
              <button class="actions__socNets__vk actions__socNets__item"/>
              <button class="actions__socNets__inst actions__socNets__item"/>
              <button class="actions__socNets__fb actions__socNets__item"/>
              <button class="actions__socNets__google actions__socNets__item"/>
            </div>
          </div>
        </div>
        <carousel :items-to-show="1" class="slider">
          <slide v-for="product in products" :key="product.title">
            <v-productSlide
                :title="product.title"
                :sub="product.description"
                :price="product.price"
                :src="product.src"
            />
          </slide>
          <template #addons>
            <navigation/>
            <pagination/>
          </template>
        </carousel>
      </div>
    </div>
  </section>
</template>

<script>
import 'vue3-carousel/dist/carousel.css';
import {Carousel, Slide, Pagination, Navigation} from 'vue3-carousel';
import vProductSlide from '@/components/v-productSlide.vue'
import vHeader from '@/components/v-header.vue'

export default {
  props: {
    products: Array
  },
  data() {
    return {};
  },
  components: {
    Carousel,
    Slide,
    Pagination,
    Navigation,
    vProductSlide,
    vHeader
  },
};
</script>

<style>
</style>