<template>
  <footer class="footer">
    <div class="footer__block footer__info">
      <div class="logo footer__logo"></div>
      <span class="footer__info-text">
        Copyright 2022
RoboFriend Ltd.
Все права защищены.
      </span>
    </div>
    <div class="footer__block footer__socNet">
      <span class="footer__socNet_title footer__block-title">
        Соц сети
      </span>
      <ul class="footer__socNet__items">
        <li class="footer__socNet__item footer__socNet-google"><a href="#"/></li>
        <li class="footer__socNet__item footer__socNet-fb"><a href="#"></a></li>
        <li class="footer__socNet__item footer__socNet-inst"><a href="#"></a></li>
        <li class="footer__socNet__item footer__socNet-vk"><a href="#"></a></li>
      </ul>
    </div>
    <div class="footer__block footer__buyer">
      <span class="footer__buyer_title footer__block-title">
        Покупателю
      </span>
      <ul class="footer__buyer__items">
        <li class="footer__buyer__item"><a href="#">Доствка и оплата</a></li>
        <li class="footer__buyer__item"><a href="#">Обмен и возрат</a></li>
        <li class="footer__buyer__item"><a href="#">Вопросы и ответы</a></li>
      </ul>
    </div>
    <div class="footer__block footer__club">
      <span class="footer__club_title footer__block-title">
        КЛУБНАЯ ПРОГРАММА
      </span>
      <ul class="footer__buyer__items">
        <li class="footer__club__item"><a href="#">Частые вопорсы</a></li>
        <li class="footer__club__item"><a href="#">Правила участия</a></li>
        <li class="footer__club__item"><a href="#">Виды карт</a></li>
      </ul>
    </div>
    <div class="footer__block footer__company">
      <span class="footer__company_title footer__block-title">
        О КОМПАНИИ
      </span>
      <ul class="footer__company__items">
        <li class="footer__company__item"><a href="#">Новости</a></li>
        <li class="footer__company__item"><a href="#">Партнерам</a></li>
        <li class="footer__company__item"><a href="#">Адреса магазинов</a></li>
      </ul>
    </div>
  </footer>
</template>

<script>
export default {
  data() {
    return {}
  },

}
</script>

<style>

</style>