<template>
  <div class="form__wrapper">
    <form action="#" class="form">
      <div class="form__header">
        <div class="logo form__logo"></div>
        <span class="form_title">{{ title }}</span>
      </div>
      <div class="form__inputs">
        <span v-if="type === 'password'" class="form__inputs_title">Восстановите по e-mail</span>
        <input  v-if="type === 'register' || type === 'password'" type="email" name="email"  requared class="form_input" placeholder="E-MAIL">
        <input v-if="type !== 'password'" type="email" name="login" requared class="form_input" placeholder="ЛОГИН">
        <input v-if="type !== 'password'" type="password" name="" requared class="form_input" placeholder="ПАРОЛЬ">
      </div>
      <div class="form__actions" v-bind:class="{ 'form__actions-password': type === 'password' }">
        <input v-if="type !== 'password'" type="checkbox" requared class="form__remember" id="form__remember" name="remember" value="yes">
        <label for="form__remember" class="form__remember_title">{{checkboxText}}</label>
        <button type="submit" class="form_submit">{{btnText}}</button>
      </div>
      <div v-if="type !== 'password'" class="form__footer">
        <router-link  v-if="type !== 'register'" to="/password" class="form__footer_item">Забыли пароль?</router-link>
        <router-link v-if="type !== 'register'" to="/register" class="form__footer_item">Зарегистрироваться</router-link>
      </div>
      <div v-if="type !== 'password'" class="form__socNets">
        <span class="form__socNets_title">или зайдите с помощью </span>
        <div class="form__socNets__items">
          <button class="form__socNets__vk form__socNets__item"/>
          <button class="form__socNets__inst form__socNets__item"/>
          <button class="form__socNets__fb form__socNets__item"/>
          <button class="form__socNets__google form__socNets__item"/>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: "v-form",
  props: {
    title: String,
    checkboxText: String,
    btnText: String,
    type: String
  }
}
</script>

<style scoped>

</style>