<template>
  <header class="header">
    <div class="row header__menu justify-between">
      <router-link to="/"><div class="logo header__logo"></div></router-link>
      <div class="header__menu__items row">
        <div class="header__menu__links row">
          <!-- <a href="#" class="header__menu__item">Новинки</a> -->
          <router-link to="/catalog" class="header__menu__item">Новинки</router-link>
          <router-link to="/catalog" class="header__menu__item">Категории</router-link>
          <router-link to="/catalog" class="header__menu__item">Бренды</router-link>
          <router-link to="/catalog" class="header__menu__item">О нас</router-link>
          <!-- <a href="#" class="header__menu__item">Бренды</a>
          <a href="#" class="header__menu__item">О нас</a> -->
        </div>
      </div>
      <div class="header__menu__buttons row">
        <button class="header__menu__button header__menu__search" />
        <router-link to="/bucket" class="header__menu__button header__menu__cart"><button class="header__menu__button header__menu__cart" /></router-link>
        <router-link to="/auth"><button class="header__menu__button header__menu__user" /></router-link>
      </div>
    </div>
  </header>
</template>

<script>
export default {
};
</script>

<style>
</style>