<template>
  <div class="productSlide row">
      <img :src="require('../assets/content/products/' + src)" :alt="title" class="productSlide__img">
      <div class="productSlide__text">
      <span class="productSlide__text__item productSlide__title">
          {{title}}
      </span>
      <span class="productSlide__text__item productSlide__sub">
          {{sub}}
      </span>
      </div>
  </div>
</template>

<script>
export default {
    props: {
        title: String,
        sub: String, 
        price: Number,
        src:String
    },
}
</script>

<style>

</style>