<template>
  <div class="product">
      <img :src="require('../assets/content/products/' + productData.src)" :alt="productData.title" class="product_img">
      <div class="product__footer">
          <span class="product__footer_title">{{productData.title}}</span>
          <div class="product__footer__actions">
              <router-link to="/product"><button class="product__footer__buy" type="button">Купить</button></router-link>
              <div class="product__price">{{productData.price + ' р'}}</div>
              <button type="button" class="product__footer__actions_like"/>
          </div>
      </div>
  </div>
</template>

<script>
export default {
    props:{
        productData: Object
    }

}
</script>

<style>

</style>