<template>
  <div class="reviews">
      <span class="reviews__title">
          Отзывы о нашей продукции
      </span>
      <div class="reviews__wrapper">
          <div v-for="review in reviews" :key="review.name" class="review">
              <span class="review__name">
                  {{review.name}}
              </span>
              <span class="review__text">
                  {{review.text}}
              </span>
          </div>
      </div>
  </div>
</template>

<script>
export default {
    props: {
        reviews: Array
    }
}
</script>

<style>

</style>