<template>
  <div class="sales container">
      <div class="sales__text">
          <span class="sales__text__item sales__text-main">Хотите узнавать о новых акциях и скидках?</span>
          <span class="sales__text__item sales__text-sub">Подпишитесь на рассылку</span>
      </div>
      <div class="sales__inputs">
          <input type="text" class="sales__inputs-email" placeholder="Ваш email">
          <button class="sales__inputs-btn">Подписаться</button>
      </div>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>