<template>
  <div class="switch">
    <button type="button" @click="num++" class=" switch_btn switch-plus"><img :src="require('../assets/content/icons/plus.svg')" alt="switch-plus"></button>
    <span class="switch_num">{{num}}</span>
    <button type="button" @click="num--" class="switch_btn switch-minus"><img :src="require('../assets/content/icons/minus.svg')" alt="switch-minus"></button>
  </div>
</template>

<script>
export default {
  name: "v-switch",
  data() {
    return {
      num: 1
    }
  }
}
</script>

<style scoped>

</style>