* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
}

.first-screen {
    background: url("../content/header/firstScreenBg.svg") bottom center no-repeat;
    background-size: cover;
    min-height: 1000px;
    margin-bottom: 50px;
}

.header {
    background: url("../content/header/headerBg.svg") bottom center no-repeat;
    background-size: cover;
    min-height: 215px;
}

.logo {
    background: url('../content/icons/logo.svg') bottom center no-repeat;
    background-size: cover;
}

.header__logo {
    height: 97px;
    width: 98px;
}

.header__menu {
    padding-top: 12px;
    padding-left: 100px;
}

.header__menu__item {
    text-decoration: none;
    color: #A4B3B6;
    font-size: 21px;
    line-height: 25px;
    padding-top: 40px;
}

.header__menu__item:not(:last-child) {
    margin-right: 82px;
}

.header__menu__buttons {
    padding-top: 21px;
    padding-right: 100px;


}

.header__menu__buttons a {
    display: block;
}

.header__menu__button {
    display: block;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    width: 37px;
    height: 37px;
}

.header__menu__button:not(:last-child) {
    margin-right: 33px;
}

.header__menu__search {
    background-image: url('../content/icons/search.svg');
}

.header__menu__cart {
    height: 32px;
    background-image: url('../content/icons/cart.svg');
}

.header__menu__user {
    background-image: url('../content/icons/user.svg');
}

.screen__body {
}

.first-screen__actions {
    max-width: 45%;
}

.first-screen-text {
    max-width: 740px;
    margin-bottom: 300px;
}

.first-screen-text__item {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    display: block;
}

.first-screen-text__main {
    font-size: 36px;
    line-height: 44px;

}

.first-screen-text__sub {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 28px;
}

.actions__buttons__auth {
    text-decoration: none;
    background: linear-gradient(180deg, #D83F87 44.27%, rgba(242, 69, 150, 0) 100%);
    border-radius: 50px;
    width: 316.71px;
    height: 98.67px;
    margin-right: 86px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
    border: none;
}

.actions__socNets__item {
    background: linear-gradient(180deg, #838F92 0%, #D0D7E1 100%);
    border-radius: 30px;
    height: 74px;
    width: 75px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    position: relative;

}

.actions__socNets__item:not(:last-child) {
    margin-right: 27px;
}

.actions__socNets__item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 74px;
    width: 75px;
    background-repeat: no-repeat;
    background-position: center;

}

.actions__socNets__vk::after {
    background-image: url('../content/icons/vk.svg');
}

.actions__socNets__inst::after {
    background-image: url('../content/icons/insta.svg');
}

.actions__socNets__fb::after {
    background-image: url('../content/icons/fb.svg');
}

.actions__socNets__google::after {
    background-image: url('../content/icons/google.svg');
}

.slider {
    max-width: 55%;
}

.productSlide {
    max-width: 694px;
    max-height: 425px;
    padding: 45px;
    width: 100%;
    height: 100%;
    border: solid 15px #000000;
    background: linear-gradient(180deg, #362771 0%, #685186 100%);
    border: 15px solid #000000;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 17px;
}

.productSlide__text {
    width: 50%;
}

.productSlide__text__item {
    display: block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
}

.productSlide__title {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 25px;
}

.productSlide__sub {
    font-size: 26px;
    line-height: 44px;
    /* margin-bottom: 25px; */
}

.productSlide__img {
    width: 50%;
    height: 100%;
}

.carousel__pagination-button {
    border-radius: 50%;
    width: 14px;
    height: 14px;
    left: 1355px;
    top: 572px;

    background: rgba(225, 217, 217, 0.61);
}

.carousel__pagination-button--active {
    background-color: var(--vc-pgn-active-color);
}

.carousel__prev {
    left: 10%;
}

.carousel__next {
    right: 10%;
}

.categories {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 95px;
    flex-wrap: wrap;
}

.categories-title {
    display: block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
    margin-bottom: 60px;
}

.categories__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.category {
    width: 257.07px;
    height: 176.14px;
    background: linear-gradient(180deg, #362771 0%, #221630 100%);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category:not(:last-child) {
    margin-right: 50px;
}

.newProduct {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 88px;
}

.newProduct img {
    max-width: 100%;
}

.reviews {
    background: url("../content/reviews/reviewsBg.svg") no-repeat top;
    background-size: cover;
    padding-top: 174px;
    margin-bottom: 53px;
}

.reviews__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1520.33px;
    margin: 0 auto;
}

.review {
    width: 576px;
    background: #221630;
    border-radius: 20px;
    margin-bottom: 37px;
    padding: 19px 28px 48px 48px;
}

.reviews__title {
    display: block;
    text-align: center;
    font-family: 'Gotu';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 60px;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.review__name {
    display: block;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 200;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #C4C4C4;
    margin-bottom: 12px;
}

.review__text {
    display: block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    text-align: justify;
    color: #FFFFFF;
}

.sales {
    display: flex;
    flex-wrap: wrap;
}

.sales__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 50px;
    margin-bottom: 57px;
}

.sales__text__item {
    display: block;
}

.sales__text-main {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 33px;
    color: #000000;
    margin-bottom: 64px;
}

.sales__text-sub {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #000000;
}

.sales__inputs {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sales__inputs-email {
    width: 602.67px;
    height: 69.33px;
    background: rgba(131, 143, 146, 0.53);
    border-radius: 30px;
    font-size: 21px;
    border: none;
    margin-right: 85px;
}

.sales__inputs-email::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
    padding-left: 33px;
}

.sales__inputs-btn {
    width: 229.33px;
    height: 58.67px;
    background: linear-gradient(180deg, #AE326C 0%, rgba(200, 64, 128, 0.81) 100%);
    border-radius: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
    border: none;
}

.footer {
    background: #2A1B3D;
    display: flex;
    padding-top: 47px;
    padding-bottom: 47px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer__block {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__block:not(:first-child) {
    width: 338px;
}

.footer__block-title {
    text-align: center;
}

.footer__block::after {
    content: '';
    position: absolute;
    width: 313.15px;
    height: 0;
    border: 1px solid #FFFFFF;
    transform: rotate(-90deg);
    top: 50%;
    left: 60%;
}

.footer__block:last-child::after {
    display: none;
}

.footer__logo {
    height: 120.05419921875px;
    width: 132px;
    border-radius: 0;
    margin-bottom: 81px;
}

.footer__info:before {
}

.footer__info-text {
    width: 410.67px;
    height: 153.9px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
    word-wrap: break-word;
    display: block;
}

.footer__socNet:before {
}

.footer__socNet_title {
    display: block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 48px;
}

.footer__socNet__items {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__socNet__item {
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 42.67px;
    height: 42.46px;
}

.footer__socNet__item:not(:last-child) {
    margin-right: 10px;
}

.footer__socNet__item a {
    display: block;
    width: 100%;
    height: 100%;
}

.footer__socNet-google {
    background-image: url('../content/icons/google.svg');
}

.footer__socNet-fb {
    background-image: url('../content/icons/fb.svg');
}

.footer__socNet-inst {
    background-image: url('../content/icons/insta.svg');
}

.footer__socNet-vk {
    width: 48px;
    height: 47.76px;
    background-image: url('../content/icons/vk.svg');
}

.footer__buyer_title {
    display: block;
    margin-bottom: 42.46px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
}

.footer__buyer__items {
    list-style: none;
}

.footer__buyer__item a {
    display: block;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #838F92;
    margin-bottom: 10px;
}

.footer__club_title {
    display: block;
    margin-bottom: 42.46px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
}

.footer__club__items {
    list-style: none;
}

.footer__club__item a {
    display: block;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #838F92;
    margin-bottom: 10px;
}

.footer__company_title {
    display: block;
    margin-bottom: 42.46px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
}

.footer__company__items {
    list-style: none;
}

.footer__company__item a {
    display: block;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #838F92;
    margin-bottom: 10px;
}

.form {
    max-width: 1100px;;
    border-radius: 80px;
    background: linear-gradient(180deg, rgba(88, 52, 134, 0.85) 0%, rgba(74, 31, 130, 0.58) 40.63%, rgba(62, 24, 112, 0.85) 96.35%);
    padding: 23px 124px 48px 150px;
}

.forms__header {
    margin-bottom: 81px;
}

.form__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 126px;
}

.form__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.form__logo {
    height: 97px;
    width: 98.35729217529297px;
    margin-bottom: 29px;
}

.form_title {
    text-transform: uppercase;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 61px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.form__inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form__inputs_title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
    margin-bottom: 70px;
}

.form_input {
    width: 426px;
    height: 61px;
    background: linear-gradient(180deg, rgba(186, 195, 203, 0.86) 0%, rgba(186, 195, 203, 0.51) 54.69%, #BAC3CB 96.35%);
    border-radius: 30px;
    margin-bottom: 69px;
}

.form_input::placeholder {
    font-size: 18px;
    padding-left: 15px;
}

.form__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.form__actions-password {
    justify-content: center;
}

.form__remember {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.form__remember + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.form__remember + label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    /*border-radius: 0.25em;*/
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.form__remember:checked + label::before {
    background: linear-gradient(180deg, rgba(60, 44, 121, 0.62) 0%, rgba(60, 44, 121, 0.91) 95.83%);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.form__remember_title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
}

.form_submit {
    cursor: pointer;
    width: 229px;
    height: 59px;
    background: linear-gradient(180deg, #AE326C 0%, rgba(200, 64, 128, 0.81) 100%);
    border-radius: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
}

.form__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid #FFFFFF;
    padding-bottom: 71px;
    margin-bottom: 29px;
    flex-wrap: wrap;
}

.form__footer_item {
    display: block;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
}

.form__footer_item a {
    text-decoration: none;
}

.form__socNets {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
}

.form__socNets_title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.form__socNets__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form__socNets__item {
    cursor: pointer;
    background: linear-gradient(180deg, rgba(88, 52, 134, 0.85) 0%, rgba(74, 31, 130, 0.58) 40.63%, rgba(62, 24, 112, 0.85) 96.35%);
    border-radius: 30px;
    height: 74px;
    width: 75px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    position: relative;

}

.form__socNets__item:not(:last-child) {
    margin-right: 27px;
}

.form__socNets__item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 74px;
    width: 75px;
    background-repeat: no-repeat;
    background-position: center;

}

.form__socNets__vk::after {
    background-image: url('../content/icons/form/vk.svg');
}

.form__socNets__inst::after {
    background-image: url('../content/icons/form/insta.svg');
}

.form__socNets__fb::after {
    background-image: url('../content/icons/form/fb.svg');
}

.form__socNets__google::after {
    background-image: url('../content/icons/form/google.svg');
}

.catalog {
    padding-left: 142px;
    padding-right: 166px;
}

.catalog__mainHeader {
    margin-bottom: 62px;
}

.catalog__header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 29px;
}

.catalog__header_title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #000000;
}

.catalog__menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-right: 266px;
}

.catalog__menu_header {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    margin-bottom: 64px;
}

.catalog__filter__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.catalog__filter__wrapper:not(:last-child) {
    margin-bottom: 60px;
}

.catalog__menu__item_header {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    margin-bottom: 20px;
}

.catalog__menu__item_footer {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    font-size: 18px;
    color: #000000;

}

.catalog__menu__item_footer:hover {
    text-decoration: underline;
}

.catalog__list {
    padding-left: 7px;
    list-style: none;
    margin-bottom: 26px;
}

.catalog__list__item {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.catalog__list__item + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.catalog__list__item + label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.catalog__list__item:checked + label::before {
    background: purple;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.catalog__products {
    display: flex;
    flex-wrap: wrap;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.product:not(:last-child) {
    margin-right: 80px;
    margin-bottom: 100px;
}

.product__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.product__footer__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product__footer_title {
    display: block;
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #000000;
    width: 100%;
    margin-bottom: 7px;
}

.product__footer__buy {
    cursor: pointer;
    width: 150px;
    height: 50.56px;
    background: linear-gradient(180deg, #795C9E 0%, rgba(88, 65, 118, 0.56) 41.67%, rgba(42, 27, 61, 0.56) 100%);
    border: none;
    margin-right: 7px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #000000;
}

.bucket {
    padding-left: 131px;
    margin-bottom: 200px;
}

.bucket__title {
    display: block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    margin-bottom: 69px;
}

.product__price {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #000000;
    margin-right: 19px;
}

.product__footer__actions_like {
    cursor: pointer;
    background: url("../content/icons/like.svg") bottom center no-repeat;
    background-size: cover;
    height: 20px;
    width: 20px;
    border: none;
}

.catalog__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.catalog__pagination_btn {
    cursor: pointer;
    background-size: cover;
    background-position: center;
    height: 31.212875366210938px;
    width: 37.63178253173828px;
    background-color: #8064A5;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;

}

.catalog__pagination_page {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #000000;
    margin: 0 24px;
}

.bucket__header {
    margin-bottom: 135px;
}

.bucket__items {
    padding-left: 104px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;

}

.bucket__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 973px;
}

.bucket__item:not(:last-child) {
    margin-bottom: 20px;
    border-bottom: 2px solid #000000;
}

.bucket__item__check {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.bucket__item__check + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.bucket__item__check + label::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 28px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    margin-right: 36px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.bucket__item__check:checked + label::before {
    background: purple;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.bucket_img {
    border: 1px solid #000000;
    width: 200px;
    margin-bottom: 20px;
}

.bucket__item_middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.switch {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.switch_num {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    margin: 0 12px;
    margin-bottom: 13px;
}

.switch_btn {
    background: linear-gradient(180deg, rgba(88, 52, 134, 0.85) 0%, rgba(74, 31, 130, 0.58) 40.63%, rgba(62, 24, 112, 0.85) 96.35%);
    width: 38px;
    height: 38px;
    transform: matrix(1, 0, 0, -1, 0, 0);
    border-radius: 4px;
}

.bucket__item_title {
    margin-bottom: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.bucket__item_price_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.bucket__item_price_title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    margin-bottom: 15px;
}

.bucket__item_price {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #000000;
}

.bucket__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.bucket__form {
    width: 506px;
    background: linear-gradient(180deg, rgba(88, 52, 134, 0.85) 0%, rgba(74, 31, 130, 0.58) 40.63%, rgba(62, 24, 112, 0.85) 96.35%);
    border-radius: 50px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.bucket__form_price {
    display: block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 28px;
}

.bucket__form-text {
    display: block;
}

.bucket__form__discount-text {
    display: block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #2A1B3D;
    margin-bottom: 43px;

}

.bucket__form__discount {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.bucket__form__coupon_label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #2A1B3D;
    margin-right: 42px;
}

#bucket__form__coupon {
    width: 170px;
    height: 37px;
    background: linear-gradient(180deg, rgba(186, 195, 203, 0.86) 0%, rgba(186, 195, 203, 0.51) 54.69%, #BAC3CB 96.35%);
    border-radius: 5px;
    font-size: 24px;
    margin-bottom: 60px;
}

.bucket__form__total {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 35px;
}

.bucket__form__total_text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.bucket__form_btn {
    cursor: pointer;
    width: 422px;
    background: linear-gradient(180deg, #B03570 0%, rgba(191, 40, 112, 0.67) 47.4%, rgba(142, 53, 96, 0.76) 100%);
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.singleProduct {
    padding-left: 200px;
    padding-right: 230px;
    margin-bottom: 100px;
}

.product_mainHeader {
    margin-bottom: 100px;
}

.singleProduct__header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 73px;
}

.singleProduct__header_text {
    display: block;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #000000;
}

.singleProduct__body {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.singleProduct_description {
    display: block;
    width: 433px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: justify;
    color: #000000;
    margin-bottom: 56px;
}

.singleProduct_price {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #000000;
    margin-bottom: 30px;
}

.singleProduct__info {
    margin-bottom: 73px;
}

.singleProduct__info__colors {
    display: flex;
    flex-direction: column;
    margin-bottom: 59px;
}

.singleProduct__info__colors_wrapper {
    display: flex;
    align-items: center;
}

.singleProduct__info__color {
    cursor: pointer;
    width: 49px;
    height: 49px;
    border: 1px solid #000000;
}

.singleProduct__info__color:not(:last-child) {
    margin-right: 14px;
}

.singleProduct__info__color-white {
    background: #FFFFFF;
}

.singleProduct__info__color-purple {
    background: #A0A8ED;
}

.singleProduct__info__color-blue {
    background: #94E6D7;
}

.singleProduct__info__color-telo {
    background: #E7CCA4;
}

.singleProduct__info__color_title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 26px;
}

.singleProduct__footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.singleProduct__footer_btn {
    cursor: pointer;
    width: 275px;
    height: 60px;
    background: linear-gradient(180deg, #795C9E 0%, rgba(88, 65, 118, 0.56) 41.67%, rgba(42, 27, 61, 0.56) 100%);
    border-radius: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.singleProduct__footer_like {
    cursor: pointer;
    background: url("../content/icons/like.svg") bottom center no-repeat;
    background-size: cover;
    width: 47px;
    height: 45px;
    border: none;
}

.singleProduct__description {
    width: 1490px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.singleProduct__description_title {
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
    margin-bottom: 28px;
}

.singleProduct__description__list_item {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 44px;
    text-align: justify;
    color: #000000;
}